*{
  text-align: center ;
} */

.clearfix {
  clear: both;
}

html {
    height: 100%;
    background-color: rgb(89, 192, 68);
  }
  
body {
  height: 100%;
  background:("");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;

}

header {
  display: center;
  margin:0 auto
}

header, ul {
    display: center;
    margin-left: auto;
    margin-right: auto;
    border: 0 auto;
    padding: 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: rgb(89, 192, 68);
    height: 100px; 
  }


  .img {
    margin: 0 auto;
      border-radius: 0%;
      border: 6px solid whitesmoke;
        width: 415px;
        height: 215px;
        display: inline-block;
    }

    img {
      width: 500px;
      height: 200px;
      display: inline-block;
  }
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    position:center;
    background-color: rgb(89, 192, 68);
    text-align: center;
  }

  nav img {
    display:inline-block;
    margin:0 auto
  }

  nav {
    width: 980px;
    border: rgb(212, 243, 207);align-self: auto;;
    padding: 10px;
    height: auto;
    margin: 0 auto;
    color: white;
  }
  nav ul{
    font-size: 40px;
    color:green;
    margin: auto;
    padding:10px 24px;
    display:inline-block;
    background-color: rgb(212, 243, 207);
    border-radius: 100 px;
    align-content: center;  
}
  nav li {
    display: inline-block;
    margin-top: 40px;
    margin-right: 60px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
  }
  h1 {
    font-family:Verdana;
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-align: inline-block;
    }
      h2 {
          font-family:Verdana;
          font-size: 400%;
          font-weight: bold;
          color: white;
          text-align: center;
          }
          h3 {
            font-family:Verdana;
            font-size: 20px;
            font-weight: bold;
            color: white;
            text-align: center;
            }

            img {
              display:inline-block;
              margin:0 auto
            }       
            
    footer {
      font-display:inline-block;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
        width: 980px;
        height:20px;
        color: green;
        border-radius: 0px;
      } 